* {
    margin: 0;
    padding: 0;
}

.where .title {
    font-size: 18px;
}

.form-group {
    margin-right: 55px;
}


.item {
    width: 256px;
    float: left;
    border: 1px solid;
    margin: 20px 0;
}

.name {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    margin: 5px auto;
}

.zhufang {
    margin-top: 20px;
}

    .zhufang span {
        height: 18px;
        line-height: 18px;
        border: 1px solid #f4d6b3;
        background-color: #fff8f0;
        color: #ad6623;
        margin-left: 3px;
        font-family: 宋体;
        overflow: hidden;
        padding: 2px 3px;
    }

.tag span {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #f0ad4e;
    margin: 0 5px;
}

.info p {
    margin: 10px 0;
}

.info span {
}

@media (min-width:325px) {
    .item {
        width: 315px;
    }
}

@media (min-width:400px) {
    .item {
        width: 352px;
    }
}

@media (min-width:768px) {
    .item {
        width: 285px;
    }
}

@media (min-width:1500px) {
    .item {
        width: 265px;
    }
}
